.tool-remove {
	display: none !important;
  }
  .marker-arrowheads {
    display: none !important;
  }

  .zoom-button {
    font-size: 22px; /* Clear and legible size for "+" and "-" */
    width: 30px; /* Compact and circular */
    height: 30px;
    line-height: 30px; /* Centers the text vertically */
    text-align: center;
    border-radius: 50%; /* Circular shape */
    border: 1px solid hwb(0 99% 1%); /* Subtle border */
    background-color: rgb(96, 86, 86); /* Light and neutral background */
    color: hwb(0 99% 1%); /* Dark text for contrast */
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for interaction */
  }

  .zoom-button:hover {
    background-color: hwb(
      227 52% 12%
    ); /* Slightly darker background on hover */
    transform: scale(
      1.1
    ); /* Gently enlarge the buttons to indicate interactivity */
  }

  .zoom-button:focus {
    outline: none; /* Removes the outline to keep the look clean */
  }

.label {
    font-size: 22px; 
  }